OsmTOM/ActivationOSMIntegrationDataDictionary/dataDictionary/IPSA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.oracle.com/cgbu/ipsa/osmipsa/ws" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/cgbu/ipsa/osmipsa/ws">

	<simpleType name="string60">
		<restriction base="string">
			<maxLength value="60"/>
		</restriction>
	</simpleType>
	
	<simpleType name="string256">
		<restriction base="string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>
	
	<simpleType name="stringMax">
        <restriction base="string">
            <maxLength value="1000"/>
        </restriction>
    </simpleType>
    
	<simpleType name="string64k">
		<restriction base="string">
			<maxLength value="65535"/>
		</restriction>
	</simpleType>
	
	<complexType name="EomObject">
    	<annotation>
            <documentation>IP Service Activator object. Objects in IP Service Activator's external object model are described in the IP Service Activator OSS Integration Manager Guide.</documentation>
        </annotation>
    	<sequence>
    		<element maxOccurs="1" minOccurs="1" name="objectId" type="long">
                <annotation>
                    <documentation>Unique ID number of the object. The ID is allocated automatically by IP Service Activator.</documentation>
                </annotation>
            </element>
    		<element maxOccurs="1" minOccurs="1" name="objectName">
                <annotation>
                    <documentation>Name of the object.</documentation>
                </annotation>
                            <simpleType>
          <restriction base="tns:string256">
            <minLength value="0"/>
          </restriction>
        </simpleType>
            </element>
    		<element maxOccurs="1" minOccurs="1" name="objectType">
                <annotation>
                    <documentation>Object type name.</documentation>
                </annotation>
                            <simpleType>
          <restriction base="tns:string60">
            <minLength value="0"/>
          </restriction>
        </simpleType>
            </element>
    	</sequence>
	</complexType>

	<complexType name="EomObjectList">
        <annotation>
            <documentation>List of IP Service Activator objects.</documentation> 
        </annotation>
    	<sequence>
    		<element maxOccurs="unbounded" minOccurs="0" name="eomObject" type="tns:EomObject"/>
    	</sequence>
	</complexType>
  
	<complexType name="EomAttribute">
    	<annotation>
            <documentation>Attribute name/value pair for an IP Service Activator object attribute.</documentation>
        </annotation>
    	<sequence>
    		<element maxOccurs="1" minOccurs="1" name="attributeName">
        <simpleType>
          <restriction base="tns:string256">
            <minLength value="0"/>
          </restriction>
        </simpleType>
      </element>
        <choice>
          <element maxOccurs="1" minOccurs="0" name="attributeValue">
          <simpleType>
            <restriction base="tns:stringMax"/>
          </simpleType>
        </element>
          <element maxOccurs="1" minOccurs="0" name="attributeXmlValue">
          <complexType>
          <complexContent>
            <extension base="anyType"/>
          </complexContent>
        </complexType>
        </element>
        </choice>
        </sequence>
	</complexType>
	
	<complexType name="EomAttributeList">
    	<annotation>
            <documentation>List of attribute name/value pairs for an IP Service Activator object.</documentation>
        </annotation>
    	<sequence>
    		<element maxOccurs="unbounded" minOccurs="0" name="attribute" type="tns:EomAttribute"/>
    	</sequence>
	</complexType>

	<complexType name="EomTransactionReport">
        <annotation>
            <documentation>Transaction details of an IP Service Activator transaction.</documentation>
        </annotation>
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="transactionId" type="long">
                <annotation>
                    <documentation>ID number of the transaction. The ID is allocated automatically by IP Service Activator.</documentation>
                </annotation>
            </element>
			<element maxOccurs="1" minOccurs="1" name="transactionName">
                <annotation>
                    <documentation>Unique name for transaction. The name is generated by IP Service Activator Web Service based on the OSM order ID.</documentation>
                </annotation>
                            <simpleType>
          <restriction base="tns:string256">
            <minLength value="0"/>
          </restriction>
        </simpleType>
            </element>
			<element maxOccurs="1" minOccurs="1" name="transactionStatus">
                <annotation>
                    <documentation>Provisioning status of the transaction:
Succeeded: confirmation received indicating successful creation, modification, or uninstallation of corresponding configuration.
Failed: confirmation received indicating the creation, modification, or uninstallation of the corresponding configuration change was rejected.
Timedout: confirmation of success or failure was not received during the timeout period.
More details on these provisioning status values, and the configurable timeout period are provided in the IP Service Activator User Guide.
                    </documentation>
                </annotation>
                            <simpleType>
          <restriction base="tns:string60">
            <minLength value="0"/>
          </restriction>
        </simpleType>
            </element>
			<element maxOccurs="1" minOccurs="0" name="reasonForFailure">
                <annotation>
                    <documentation>This attribute contains the messages from faults raised, if any, for this transaction.</documentation>
                </annotation>
                            <simpleType>
          <restriction base="tns:stringMax">
            <minLength value="0"/>
          </restriction>
        </simpleType>
            </element>
		</sequence>
	</complexType>
	
	<complexType name="IpsaInfoParm">	<!-- for the xmlValue in the InfoParm -->
		<choice>
			<element maxOccurs="1" minOccurs="0" name="discover">
                <annotation>
                    <documentation>Response for IPSA_DISCOVER service action. The response will be an empty string.</documentation>
                </annotation>
                            <simpleType>
          <restriction base="tns:string60">
            <minLength value="0"/>
          </restriction>
        </simpleType>
            </element>
			<element maxOccurs="1" minOccurs="0" name="getName">
                <annotation>
                    <documentation>Response for IPSA_GETNAME service action. Object name of the specified object.</documentation>
                </annotation>
                            <simpleType>
          <restriction base="tns:string256">
            <minLength value="0"/>
          </restriction>
        </simpleType>
            </element>
			<element maxOccurs="1" minOccurs="0" name="getObject" type="tns:EomObject">
            </element>
			<element maxOccurs="1" minOccurs="0" name="getId" type="long">
                <annotation>
                    <documentation>Response for IPSA_GETID service action. Object ID number of the specified object.</documentation>
                </annotation>
            </element>
			<element maxOccurs="1" minOccurs="0" name="getAttributes" type="tns:EomAttributeList">
                <annotation>
                    <documentation>Response structure for IPSA_GETATTRIBUTES service action. List of the attributes for the specified object, including their name and value.</documentation>
                </annotation>
            </element>
			<element maxOccurs="1" minOccurs="0" name="getChildren" type="tns:EomObjectList">
                <annotation>
                    <documentation>Response structure for IPSA_GETCHILDREN service action. List of children of the specified object.</documentation>
                </annotation>
            </element>
			<element maxOccurs="1" minOccurs="0" name="getParents" type="tns:EomObjectList">
                <annotation>
                    <documentation>Response structure for IPSA_GETPARENTS service action. List of parent objects for the specified object.</documentation>
                </annotation>
            </element>
			<element maxOccurs="1" minOccurs="0" name="getPath">
                <annotation>
                    <documentation>Response structure for IPSA_GETPATH service action. Absolute object path to the specified object, starting with the root object.</documentation>
                </annotation>
                            <simpleType>
          <restriction base="tns:stringMax">
            <minLength value="0"/>
          </restriction>
        </simpleType>
            </element>
			<element maxOccurs="1" minOccurs="0" name="getParameters" type="tns:EomObjectList">
                <annotation>
                    <documentation>Response structure for IPSA_GETPARAMETERS service action. List of parameters that are applied to the specified target object.</documentation>
                </annotation>
            </element>
			<element maxOccurs="1" minOccurs="0" name="getTargets" type="tns:EomObjectList">
                <annotation>
                    <documentation>Response structure for IPSA_GETTARGETS service action. List of targets that the ParameterSetInstance applies to.</documentation>
                </annotation>
            </element>
			<element maxOccurs="1" minOccurs="0" name="getTransactionStatus" type="tns:EomTransactionReport">
            </element>
			<element maxOccurs="1" minOccurs="0" name="find" type="tns:EomObjectList">
                <annotation>
                    <documentation>Response structure for IPSA_FIND service action. IP Service Activator objects that meet the search criteria.</documentation>
                </annotation>
            </element>
			<element maxOccurs="1" minOccurs="0" name="findParameters" type="tns:EomObjectList">
                <annotation>
                    <documentation>Response structure for IPSA_FINDPARAMETERS service action. IP Service Activator objects that meet the search criteria.</documentation>
                </annotation>
            </element>
			<element maxOccurs="1" minOccurs="0" name="transaction" type="tns:EomTransactionReport">
                <annotation>
                    <documentation>Details of the IP Service Activator transaction. This applies to an activation task configured with service action(s) which require an IP Service Activator transaction to fulfill the activation request. This does not include service actions involving device discovery and query operations.</documentation>
                </annotation>
            </element>
		</choice>
	</complexType>
	<element name="xmlValue" type="tns:IpsaInfoParm"/>
</schema>
